<!-- Título da página -->
<h1 class="page-title">{{ titulo }}</h1>

<!-- Formulário -->
<form [formGroup]="pesquisaForm">
    <div class="form-group">
        <label for="sigla">Sigla</label>
        <input type="text" class="form-control" formControlName="sigla">
    </div>
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" formControlName="descricao">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

<!-- Lista -->
<table class="table table-border table-hover">
  <!-- Cabeçalho da tabela -->
  <thead>
    <tr>
      <th class="text-center">Descrição</th>
      <th class="text-center">Sigla</th>
      <th class="text-center">E-mail de atendimento</th>
      <th class="text-center">URL</th>
      <th class="text-center">Status</th>
      <th class="text-center">Ações</th>
      <th class="text-right"></th>
    </tr>
  </thead>
  <!-- Corpo da tabela -->
  <tbody>
    <tr *ngIf="pesquisas?.length == 0">
      <td colspan="7"><i class="fas fa-inbox"></i> Nenhum registro encontrado!</td>
    </tr>
    <tr *ngFor="let pesquisa of pesquisas">
      <td>{{ pesquisa.descricao }}</td>
      <td>{{ pesquisa.sigla }}</td>
      <td>{{ pesquisa.email }}</td>
      <td>{{ pesquisa.url }}</td>
      <td>{{ pesquisa.status }}</td>
      <td class="text-right">
        <!-- Botão para editar -->
        <button class="btn btn-outline-primary btn-sm mr-1"
          [routerLink]="['/#', pesquisa.id]">
          <i class="fas fa-edit">Editar</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>